@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro'), url('./assets/Font_Family/BasisGrotesqueArabicPro-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }